@import url("normalize.css");
$green: #99E2D0;
$dark-green: #008766;
$blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$grey: #EAEAEA;
$dark-grey: #353535;

$font-xs: 0.5rem;
$font-sm: 0.75rem;
$font-md: 1rem;
$font-lg: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 2rem;
$font-xxxl: 2.5rem;

$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;
$spacing-xxxl: 2.5rem;
$spacing-xxxxl: 3rem;


$bold: 700;
$regular: 500;
$light: 300;

.btn {
    padding: $spacing-md $spacing-lg;
    min-width: 185px;
    margin: auto;
    border: none;
    border-radius: 25px;
    background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
    box-shadow: 0px 4px 10px 0px #00000040;
    cursor: pointer;

    a {
        color: white;
        font-size: $font-md;
        font-weight: $regular;
    }

    &:hover {
        background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%),
            linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

    }
}

.btn-container{
    display: flex;
    justify-content: center;
align-items: center;
margin-bottom: $spacing-xxxl;

}

.tag-new {
    padding: $spacing-xs $spacing-sm;
    background-color: $green;
    color: $dark-green;
    font-weight: $regular;
    font-size: $font-md;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px #00000026;
}

.nums {
    position: absolute;
    left: $spacing-md;
    background-color: $purple;
    color: white;
    padding: $spacing-xs $spacing-sm;
    border-radius: 50%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #F6F6F6;
}

.header {

    padding: $spacing-md;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 4px 0px #00000026;
    margin-bottom: 5px;

    img {
        width: 160px;

    }
}

.location {
    display: flex;
    justify-content: center;
    gap: $spacing-md;
    align-items: center;
    padding: $spacing-md;
    background-color: $grey;
    box-shadow: 0px 4px 4px 0px #00000040;

    h3 {
        font-size: $font-md;
        font-weight: $regular;
    }
}

.booking {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: $spacing-xl;
    padding: $spacing-xxl $spacing-lg;

    h1 {
        font-size: $font-xl;
        font-weight: $bold;
    }

    h2 {
        font-size: $font-lg;
        font-weight: $light;
    }
}

.operating {
    background-color: white;
    padding: $spacing-xxxxl $spacing-lg;

    h1 {
        font-size: $font-xl;
        font-weight: $bold;
    }

    .instruction {
        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        margin-top: $spacing-xxl;

        .steps {
            display: flex;
            gap: $spacing-xl;
            box-shadow: 0px 4px 15px 0px #00000026;
            border-radius: 20px;
            padding: $spacing-xl $spacing-xxl;

            i {
                color: #7E7E7E;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.restaurants {
    padding: $spacing-xxxxl $spacing-lg;

    h1 {
        font-size: $font-xl;
        font-weight: $bold;
    }

    .restaurants-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: $spacing-xl;
        margin-top: $spacing-xl;

        .cards {
            background-color: white;
            border-radius: 15px;

            span {
                margin-top: $spacing-md;
                position: absolute;
                right: calc($spacing-md + $spacing-lg);
            }

            img {
                width: 100%;
                height: 175px;
                object-fit: cover;
                border-radius: 15px 15px 0 0;
            }

            .cards-content {
                padding: $spacing-md;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h2 {
                    font-size: $font-lg;
                    font-weight: $bold;
                }

                h3 {
                    font-size: $font-md;
                    font-weight: $light;
                }

                i {
                    font-size: $font-xl;
                }
            }

        }
    }
}

.footer {
    background-color: $dark-grey;
    padding: $spacing-lg $spacing-xl;

    img {
        filter: brightness(100);
        width: 140px;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        margin-top: $spacing-md;

        a {
            color: white;
            font-size: $font-md;
            font-weight: $regular;
            display: flex;
            gap: $spacing-xs;
        }
    }
}


// -------------------------------------------------------------

.banner {
    content: "";
    background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 275px;
}

.menu {
    background-color: #F6F6F6;
    margin-top: -$spacing-xxl;
    padding: $spacing-xxl $spacing-md;
    border-radius: 25px 25px 0 0;

    .menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: $font-xl;
            font-weight: $bold;
        }

        i {
            font-size: $font-xl;
            color: #101010;
            margin-right: $spacing-md;
        }
    }

    .menu-category {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        margin-top: $spacing-xxxl;

        h2 {
            font-size: $font-md;
            font-weight: $light;
            text-transform: uppercase;
            margin-bottom: $spacing-xxs;
        }

        hr {
            width: 40px;
            height: 3px;
            border: none;
            background-color: #99E2D0;
        }

        .menu-item {
            background-color: white;
            padding: $spacing-sm $spacing-md;
            box-shadow: 0px 4.01px 15.04px 0px #0000001A;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .menu-name {
                display: flex;
                flex-direction: column;
                gap: $spacing-xxs;

                h3 {
                    font-size: $font-lg;
                    font-weight: $bold;
                }

                p {
                    font-size: $font-md;
                    font-weight: $light;
                }
            }

            h4 {
                font-size: $font-md;
                font-weight: $bold;
            }

        }
    }
}